/*  Based on the AABGI/RCoA/FICM/ICS/CEM 2014 review guidance on syringe colours in critical care areas */
/*  http://www.aagbi.org/sites/default/files/SYRINGE%20LABELLING%202014.pdf */

/* Anti-emetic: Pantone 156 (salmon) */
.antiemetic_drug {
    background-color: #EFBE7D;
}

/* Induction agent: Pantone process yellow */
.induction_agent_drug {
    background-color: #ffe800;
}

/* Hypnotic: Pantone 151 (orange) */
.hypnotic_drug {
    background-color: #FF8200;
}

/* Hypnotic antagonist: Panton 151 (orange), white diagonal stripes */
.hypnotic_antagonist_drug {
    background: repeating-linear-gradient(
      -45deg,
      #ff7477,
      #ff7477 7px,
      #ffffff 7px,
      #ffffff 20px
    );
}

/* Neuromuscular blocking drug: Pantone 805 */
.neuromuscular_blocking_drug {
    background-color: #ff7477;
}

/* Neuromuscular blocking drug antagonist: Pantone 805, white diagonal stripes */
.neuromuscular_blocking_drug_antagonist {
    background: repeating-linear-gradient(
      -45deg,
      #ff7477,
      #ff7477 7px,
      #ffffff 7px,
      #ffffff 20px
    );
}

/* Neuromuscular blocking drug: Pantone 805, black stripe and inverted text through title */
.depolarizing_neuromuscular_blocking_drug {
    background-color: #ff7477;
    background: linear-gradient(
        #000000 50%,
        #ff7477 50%
    );
}

.depolarizing_neuromuscular_blocking_drug .top{
    color: #ff7477;
}


/* Opioid drug: Pantone 297 (blue) */
.opioid_drug {
    background-color: #71C5E8;
}

/* Opioid antagonist drug: Pantone 297 (blue), white diagonal stripes */
.opioid_antagonist {
    background: repeating-linear-gradient(
        45deg,
        #71C5E8,
        #71C5E8 5px,
        #ffffff 5px,
        #ffffff 10px
    );
}

/* Vasopressor: Pantone 256 (violet) */
.vasopressor_drug {
   background-color: #D6BFDD;
}

/* placeholder for hypotensive_agent_drug */

/* Local Anaesthetics: Pantone 401 (grey) */
.local_anaesthetics_drug {
    background-color: #AFA9A0;
}

/* Anticholinergic: Pantone 367 (green) */
.anticholinergic_drug {
    background-color: #A4D65E;
}

/* use for drugs which are not listed elsewhere, including antibiotics, oxytocin, heparin, protamine */
.other_drug_agents {
    background-color: #ffffff;
}
